#header{
    padding: 15px;
    text-align: right;
    background-color:lightslategrey;
}
.space{
    margin-left: 20px;
}
.#adminHeader
{
    height: 100px;
    background-color: lightblue;
}

#adminData
{
    display: flex;
    justify-content: space-between;
}
#adminMenu
{
    width: 20%;
    background-color: black;
    color: white;

}
#adminContent
{
    padding-left: 30px;
    width:80%
}

.menucolor
{
    color: whitesmoke;
}